.navbar {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 10px;
  top: 10vh;
  right: 0;
  bottom: 83vh;
  left: 0;
}

.button_deactivated {
  color: #fff;
}

.button_activated {
  color: #033e81;
}