.form {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: auto;
  justify-content: center;
  align-items: flex-start;
  border: 3px solid #7392b7;
  border-radius: 10px;
  padding: 30px;
}

.label {
  font-size: 15px;
}

.input {
  width: 100%;
  height: 15px;
}

.button {
  padding: 10px;
  border-radius: 5px;
  background-color: #1f4d1f;
  color: #ffffff;
  cursor: pointer;
  &:hover {
    background-color: #45a049;
  }
}

.button_wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.login_wrapper {
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
  margin-right: 5px;
}

.success {
  font-size: 15px;
  color: #008000;
}

.error {
  font-size: 15px;
  color: #ff0000;
}
