.container {
  position: fixed;
  top: 17vh;
  bottom: 7vh;
  left: 5vw;
  right: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  background-color: #d8e1e9;
  overflow-y: auto;
}
